<nav id="navbar" class="navbar navbar-expand-md navbar-light bg-light" >
    <div class="container" >
        <a class="navbar-brand" href="/">David Udelson</a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right ml-auto" >
                <li class="nav-item" >
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" href="/projects">Projects</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
