---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <link href="static/css/main-panel.css"  rel="stylesheet">
  </head>
  <body>
    {% include navbar.html %}
    <div class="container">
        <div class="jumbotron">
Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        </div>
    </div>
    {% include footer.html %}
    {% include js.html %}
  </body>
</html>
