<nav id="navbar" class="navbar navbar-default navbar-static-top">
    <div class="container">
        <a class="navbar-brand" href="/">
           <img class="img-responsive img-rounded" src="static/img/headshot.jpg" alt="David Udelson" />
            David Udelson
        </a>
        <div class="navbar-right" >
            <a href="https://www.linkedin.com/in/david-udelson-6aa323123"><img class="img-responsive img-rounded" src="/static/img/logos/linkedin.png" alt="My linkedin profile"></a>
            <a href="https://www.github.com/dudelson"><img class="img-responsive img-rounded" src="/static/img/logos/github.png" alt="My github profile"></a>
            <a href="https://www.twitter.com/ubeatlenine"><img class="img-responsive img-rounded" src="/static/img/logos/twitter.png" alt="Contact me on twitter"></a>
            <a href="https://t.me/dudelson"><img class="img-responsive img-rounded" src="/static/img/logos/telegram.png" alt="Contact me on telegram"></a>
        </div>
    </div>
</nav>
