/* styles for the blog layout (_layouts/blog.html) */

#blog-header {
    padding: 0;
}

#blog-title {
  font-size: 60px;
  color: #333;
}

#blog-description {
  font-size: 20px;
  color: #999;
}

*blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
}

.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.blog-pagination {
    padding: 15px 0;
}

.archive-months li {
    padding-left: 10px;
}
