---
layout: blog
type: archive
---
<div>
 {% assign posts = site.posts | reverse %}
  <!-- year/month archives -->
  {% if page.month %}
    <h1> Archives: {{ page.title }} </h1>
    {% capture pagemonth %} {{ page.year | append: '-' | append: page.month }} {% endcapture %}
    {% for post in posts %}
      {% capture postmonth %} {{ post.date | date: '%Y-%m' }} {% endcapture %}
      {% if postmonth == pagemonth %}
        {% include "blog_post_listing_item" %}
      {% endif %}
    {% endfor %}
  <!-- year archives -->
  {% elsif page.year %}
    <h1> Archives: {{ page.title }} </h1>
    {% capture pageyear %} {{ page.year }} {% endcapture %}
    {% for post in posts %}
      {% capture postyear %} {{ post.date | date: '%Y' }} {% endcapture %}
      {% if postyear == pageyear %}
        {% include "blog_post_listing_item" %}
      {% endif %}
    {% endfor %}
  <!-- tag archives -->
 {% elsif page.tag %}
   <h1> Tag: {{ page.title }} </h1>
   {% for post in posts %}
     {% if post.tags contains page.tag %}
        {% include "blog_post_listing_item" %}
     {% endif %}
   {% endfor %}
 {% endif %}
</div>
