@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: var(--font-spectral), serif;
    background-color: #fdf9ef;
    color: #333;
  }

  h1 {
    font-family: var(--font-playfair), serif;
  }
}
