---
layout: davidudelson
---
<div id="blog-header">
    <h1 id="blog-title">{{ site.blog.title }}</h1>
    <p id="blog-description">{{ site.blog.subtitle }}</p>
</div>
<div class="row">
    <div id="blog-main" class="col-xs-12 col-md-9">
        {{ content }}
    </div>
    <div id="blog-sidebar" class="col-xs-6 col-md-3">
        <img class="img-responsive" src="/static/img/headshot.jpg" alt="David Udelson"/>
        <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>{{ site.about_short }}</p>
        </div>
        <table class="table table-condensed" >
        <tbody>
            <tr>
                <td><span class="glyphicon glyphicon-education" aria-hidden="true"></span></td>
                <td colspan="3">Cornell University '18</td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></td>
                <td colspan="3">Ithaca, NY</td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></td>
                <td colspan="3">{% include email_obfuscator.html %}</td>
            </tr>
            <tr>
                <td><a href="https://www.linkedin.com/in/david-udelson-6aa323123"><img class="img-responsive" src="/static/img/logos/linkedin.png" alt="My linkedin profile"></a></td>
                <td><a href="https://www.github.com/dudelson"><img class="img-responsive" src="/static/img/logos/github.png" alt="My github profile"></a></td>
                <td><a href="https://www.twitter.com/ubeatlenine"><img class="img-responsive" src="/static/img/logos/twitter.png" alt="Contact me on twitter"></a></td>
                <td><a href="https://t.me/dudelson"><img class="img-responsive" src="/static/img/logos/telegram.png" alt="Contact me on telegram"></a></td>
            </tr>
        </tbody>
        </table>
        <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
            {% for post in site.posts %}
            {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
            {% unless year == this_year %}
            {% assign year = this_year %}
            {% unless post == site.posts.first %}
            {% endunless %}
            <li id="{{ year }}" > <a href="{{ site.baseurl }}/archives/#{{year}}">{{ year }}</a></li>
            {% endunless %}
            {% endfor %}
            </ol>
        </div>
    </div>
</div>
