---
layout: davidudelson
---
<div id="blog-header">
    <a href="/blog/"><h1 id="blog-title">{{ site.blog.title }}</h1></a>
    <p id="blog-description">{{ site.blog.subtitle }}</p>
    <p id="blog-mobile-about" class="mobile-only"><i>{{ site.about_short }}</i></p>
</div>
<div class="row">
    <div id="blog-main" class="col-xs-12 col-md-9">
        {{ content }}
    </div>
    <div id="blog-sidebar" class="col-xs-6 col-md-3 desktop-only">
        <img class="img-responsive" src="/static/img/headshot.jpg" alt="David Udelson"/>
        <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>{{ site.about_short }}</p>
        </div>
        <table class="table table-condensed" >
        <tbody>
            <tr>
                <td><span class="glyphicon glyphicon-education" aria-hidden="true"></span></td>
                <td colspan="3">Cornell University '18</td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></td>
                <td colspan="3">Ithaca, NY</td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></td>
                <td colspan="3">{% include email_obfuscator.html %}</td>
            </tr>
            <tr>
                <td><a href="https://www.linkedin.com/in/david-udelson-6aa323123"><img class="img-responsive" src="/static/img/logos/linkedin.png" alt="My linkedin profile"></a></td>
                <td><a href="https://www.github.com/dudelson"><img class="img-responsive" src="/static/img/logos/github.png" alt="My github profile"></a></td>
                <td><a href="https://www.twitter.com/ubeatlenine"><img class="img-responsive" src="/static/img/logos/twitter.png" alt="Contact me on twitter"></a></td>
                <td><a href="https://t.me/dudelson"><img class="img-responsive" src="/static/img/logos/telegram.png" alt="Contact me on telegram"></a></td>
            </tr>
        </tbody>
        </table>
        <div class="sidebar-module">
            <h4>Archives</h4>
            <ol id="archive-listing" class="list-unstyled">
               {% assign month_names = "placeholder January February March April May June July August September October November December" | split: ' ' %}
                {% capture yms %}
                    {% for post in site.posts %}
                        {{ post.date | date: "%Y-%m" }}
                    {% endfor %}
                {% endcapture %}
                {% assign uniq_yms = yms | split: ' ' | uniq | reverse %}
                {% for ym in uniq_yms %}
                    {% assign cur_year = ym | split: '-' | first %}
                    {% assign month = ym | split: '-' | last %}
                    {% assign month_number = month | remove: "0" | ceil %}
                    {% assign month_name = month_names[month_number] %}
                    {% if cur_year != last_year %}
                    {% if last_year %}</ol></div>{% endif %}
                        <div class="archive-years">
                            <li id="{{ cur_year }}">
                                <a href="/blog/{{ cur_year }}">{{ cur_year }}</a>
                            </li>
                        </div>
                        <div class="archive-months"><ol class="list-unstyled">
                    {% endif %}
                    <li><a href="/blog/{{ cur_year }}/{{ month }}">{{ month_name }}</a></li>
                    {% assign last_year = cur_year %}
                {% endfor %}
                        </ol>
            </ol>
            <br/>
            <h4>Tags</h4>
            <ol class="list-unstyled">
                {% capture tags %}
                    {% for tag in site.tags %}
                        {{ tag[0] }}
                    {% endfor %}
                {% endcapture %}
                {% assign sortedtags = tags | split:' ' | sort %}

                {% for tag in sortedtags %}
                    <li><a href="/blog/tags/{{ tag }}">{{ tag }}</a></li>
               {% endfor %}
           </ol>
        </div>
    </div>
</div>

<script src="/static/js/archive_text_tree.js"></script>
