<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
    </head>
    <body>
        <div class="container">
            {% include navbar.html %}

            {% if site.default_column == "two" %}  

            <div class="page-content col-sm-8">
                {{ content }}
                {% include post_pagination.html %}
            </div>
            {% include sidebar.html %}

            {% else %}

            <div class="page-content">
                <div class="wrapper">
                {{ content }}
                </div>
            </div>
            {% include post_pagination.html %}

            {% endif %}

            {% include footer.html %}
        </div>
        {% include js.html %}
    </body>
</html>
