---
layout: default
---
<div class="row">
    <div class="col-xs-12 col-md-9" style="padding-bottom: 60px">
        <h1>Home</h1>
        <hr/>
        {{ content }}
        <div class="desktop-only"><br/><br/></div>
        <h1>From My Blog</h1>
        <hr/>
        {% for post in site.posts limit:3 %}
           {% include blog_post_listing_item.html %}
        {% endfor %}
        <div><a class="btn btn-default" href="/blog/">More Posts</a></div>
    </div>
    <div class="col-xs-6 col-md-3 desktop-only" >
        <img class="img-responsive" src="/static/img/headshot.jpg" alt="David Udelson"/>
        <table class="table table-condensed" >
        <tbody>
            <tr>
                <td><span class="glyphicon glyphicon-education" aria-hidden="true"></span></td>
                <td colspan="3">Cornell University '18</td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></td>
                <td colspan="3">Ithaca, NY</td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></td>
                <td colspan="3">{% include email_obfuscator.html %}</td>
            </tr>
            <tr>
                <td><a href="{{ site.contact.linkedin }}"><img class="img-responsive" src="/static/img/logos/linkedin.png" alt="My linkedin profile"></a></td>
                <td><a href="{{ site.contact.github }}"><img class="img-responsive" src="/static/img/logos/github.png" alt="My github profile"></a></td>
                <td><a href="{{ site.contact.twitter }}"><img class="img-responsive" src="/static/img/logos/twitter.png" alt="Contact me on twitter"></a></td>
                <td><a href="{{ site.contact.telegram }}"><img class="img-responsive" src="/static/img/logos/telegram.png" alt="Contact me on telegram"></a></td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
