---
layout: davidudelson
---
<div class="row">
    <div class="col-xs-12 col-md-9">
        {{ content }}
    </div>
    <div class="col-xs-6 col-md-3" >
        <img src="/static/img/headshot.jpg" width="100%" />
        <table class="table table-condensed" >
        <tbody>
            <tr>
                <td><span class="glyphicon glyphicon-education" aria-hidden="true"></span></td>
                <td>Cornell University '18</td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></td>
                <td>Ithaca, NY</td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></td>
                <td>{% include email_obfuscator.html %}</td>
            </tr>
            <tr>
                <td><a href="https://www.linkedin.com/in/david-udelson-6aa323123"><img src="/static/img/logos/linkedin.png" width="30px" alt="My linkedin profile"></a></td>
                <td><a href="https://www.github.com/dudelson"><img src="/static/img/logos/github.png" width="30px" alt="My github profile"></a></td>
                <td><a href="https://www.twitter.com/ubeatlenine"><img src="/static/img/logos/twitter.png" width="30px" alt="Contact me on twitter"></a></td>
                <td><a href="https://t.me/dudelson"><img src="/static/img/logos/telegram.png" width="30px" alt="Contact me on telegram"></a></td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
