<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    <div id="thingy" >
        <div class="desktop-only">
            {% include desktop_navbar.html %}
        </div>
        <div class="mobile-only">
            {% include mobile_navbar.html %}
        </div>
        <div id="body" class="container">
            <div class="row">
                <div id="col-xs-12 col-md-8">
                    <div id="post-header">
                        <h1>{{ page.title }}</h1>
                        <time>{{ page.date | date: "%B %-d, %Y" }}</time><br/>
                        <div id="post-tags"> Tags:
                            {% for tag in page.tags %}
                                <a href="/blog/tags/{{ tag }}">{{ tag }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <hr/>
                    <div class="post-content">{{ content }}</div>
                    <hr/>
                    <div id="post-comments">
                        <i>Where are the comments??</i>
                        <p>
                            Comments are temporarily unavailable on my posts.
                            Sorry about that! For a more in-depth explanation as
                            to why I do not have a comments section, see
                            <a href="/blog/2017/01/08/where-are-the-comments/">this post</a>.
                            If you'd like to discuss this article with me, feel
                            free to email me at
                            {% include email_obfuscator.html %}
                            or hit me up on
                            <a href="{{ site.contact.twitter }}">Twitter</a>.
                        </p>
                   </div>
                   <div id="post-buttons">
                       <a class="btn btn-default" href="/blog/">Read More Posts</a>
                       <a class="btn btn-default" href="#post-header">Top</a>
                   </div>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </div>
    {% include js.html %}
</body>
</html>
